p {
	margin: 0;
}

ion-popover { 
	--offset-y: -10px;
	--background: transparent;

	ion-card {
		--background: #12123cf2;
		margin: 0;
	 	border: 2px solid rgb(149, 149, 148);
	 	padding: 10px;
		color: white
	}	

	ion-content {
		--background: transparent;
	}
}
