<ion-content [fullscreen]="true" class="main">
	<h1>RetroFolio</h1>
	<div class="center intro">
		<p>Welcome!</p>
		<p>I'm Osman, but I usually go by Retropaint online. Say hi if you meet me!</p>
		<br>
		<p>I like to write random words and symbols that do stuff. I think it's called programming. My fields of interest are primarily in building native apps, but I've worked extensively with web technology and am no slouch at it!</p> </div>
	
	<h2 class="work-experience-header">Work Experience</h2>

	<div class="center work-experience">
		<ul>
			<li>
				<h3><a href="https://stampede-design.com" target="_blank">Stampede Design</a></h3>
				<p>Over at my first job, I worked as a Frontend Developer.</p>
			</li>
		</ul>
	</div>

	<h2>Projects</h2>
	<div class="center project-container">
		<ul>
			<li><a>asciiPainter</a></li>
			<li><a>Simple 3D Renderer</a></li>
			<li><a>Azur Lane Fleet Tech Tracker</a></li>
		</ul>
	</div>

	<h2>Other Expertise</h2>
	<div class="center">
		<ion-button id="laravel-tooltip">Laravel</ion-button>
		<ion-button id="docker-tooltip">Docker</ion-button>
	</div>

	<h2>Contacts</h2>
	<div class="center contacts">
		<p>Get in touch!</p>
		<ul>
			<li>
				<p>Github</p>
				<p>LinkedIn</p>
				<p>Discord</p>
			</li>
		</ul>
	</div>

	<ion-popover trigger="laravel-tooltip" side="top" alignment="center">
		<ng-template>
			<ion-content>
				<ion-card>
					<p>I've been trained to use Laravel as the backend framework at Stampede, and can comfortably use it for small-scale projects, or prototypes.</p>
				</ion-card>
			</ion-content>
		</ng-template>
	</ion-popover>

	<ion-popover trigger="docker-tooltip" side="top" alignment="center">
		<ng-template>
			<ion-content>
				<ion-card>
					<p></p>
				</ion-card>
			</ion-content>
		</ng-template>
	</ion-popover>
</ion-content>
