$small: 600px;
$medium: 1279px;
$horProject: 820px;

.main {
	--ion-text-color: #ffffff;
	--ion-color-primary: #428cff;

	--background: linear-gradient(140deg, rgb(36, 36, 98), rgb(5, 0, 24));
	@media screen and (max-width: $medium) {
		font-size: 14px;
	}
}

.center {
	@media screen and (max-width: $medium) {
		padding: 0 20% 0 20%;
	}
	@media screen and (max-width: $small) {
		padding: 0 40px 0 40px;
	}
	padding: 0 30% 0 30%;
	margin: auto;
}

.intro {
	text-align: center;

	.welcome {
		font-size: 20px;
	}
}

p {
	margin: 0;
	font-size: 15px;
}

h3 {
	font-size: 17px;
}

ion-popover { 
	--offset-y: -10px;
	--background: transparent;

	ion-card {
		--background: #12123cf2;
		margin: 0;
	 	border: 2px solid rgb(149, 149, 148);
	 	padding: 10px;
		color: white
	}	

	ion-content {
		--background: transparent;
	}
}

.header {
	@media screen and (max-width: $medium) {
		padding: 0 15% 0 15%;
		
		.first {
			display: none;
		}
	}
	@media screen and (max-width: $small) {
		padding: 0;
		
		.first {
			display: none;
		}
	}
	padding: 0 25% 0 25%;
	margin: 50px auto 12px auto;
	display: flex;
	align-items: center;

	&.top {
		margin-top: 20px;

		.first {
			height: 10px;
		}
		.last {
			height: 10px;
		}
	}

	.first {
		height: 5px;
		width: 50px;
		background: linear-gradient(to right, transparent, rgba(96, 87, 254, 0.46));
	}

	h1, h2 {
		display: inline-block;
		margin: auto 10px auto 10px;
		white-space: pre;
	}

	.last {
		height: 5px;
		width: 100%;
		background: linear-gradient(to right, rgba(96, 87, 254, 0.46), transparent);
	}

	&.no-bottom-margin {
		margin-bottom: 0px;
	}
}

.work-experience-header {
	text-align: center;
}
.work-experience {
	text-align: center;
}

.projects {
	@media screen and (max-width: $horProject) {
		display: block;
	}
	position: relative;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.project {
	@media screen and (max-width: $horProject) {
		width: 100%;
		margin-bottom: 10px;
	}

	width: 32%;
	cursor: pointer;

	ion-img {
		margin: auto;
		height: 100px;

		&.asciiPainter { 
			filter: contrast(100);
		}
	}

	p {
		font-size: 13px;
	}

	a {
		text-decoration: none;
		color: white;
	}

	.project-container {
		background: #12123cf2;
		border: 2px solid rgb(149, 149, 148);
		padding: 15px;
		display: inline-block;
		transition: transform 0.1s linear;
		height: 100%;
	}

	&.middle {
		margin: 0px 15px 0px 15px;
	}

	&:hover {
		.project-container {
			transform: translateY(-3px);
		}
	}
}

.stampede {
	.stampede-header {
		display: flex;
		align-items: center;

		h3 {
			margin: 12px 17px 12px 0px;
			font-size: 19px;
		}
	}

	.body {
		text-align: left;
	}

	.icon {
		width: 45px;
	}
}

.expertise {
	display: flex;
}

.expertise-icon {
	width: 40px;
	cursor: pointer;
	display: inline-block;
	margin: auto 10px auto 10px;
	
	ion-img {
		transition: transform 0.1s linear;
	}

	&:hover {
		ion-img {
			transform: translateY(-3px);
		}
	}

	&.Docker {
		width: 45px;
	}

	&.Dialogflow {
		width: 35px;
	}
}

.contacts {
	.subtitle {
		margin-bottom: 10px;
	}
}
