<ion-content [fullscreen]="true" class="main">
	<div class="header top">
		<div class="first"></div>
		<h1>RetroFolio</h1>
		<div class="last"></div>
	</div>
	<div class="center intro" style="text-align: left">
		<p>Welcome!</p>
		<p>I'm Osman, but I usually go by Retropaint online. Say hi if you meet me!</p>
		<br>
		<p>I like to write random words and symbols that do stuff. I think it's called programming.<br> My fields of interest are primarily in building native apps, both low-level (C, C++, etc) to high-level (web tech).</p>
	</div>
	
	<div class="header no-bottom-margin">
		<div class="first"></div>
		<h2>Work Experience</h2>
		<div class="last"></div>
	</div>
	<div class="center work-experience">
		<div class="stampede">
			<div class="stampede-header">
				<h3><a href="https://stampede-design.com" target="_blank">Stampede Design</a></h3>
				<ion-img class="icon" src="assets/stampede.png"></ion-img>
			</div>
			<div class="body">
				<p>Over at my first job, I worked as a Frontend Developer.</p>
			</div>
		</div>
	</div>

	<div class="header">
		<div class="first"></div>
		<h2>Projects of Interest</h2>
		<div class="last"></div>
	</div>
	<div class="center projects">
		<div class="project">
			<a class="project-container" href="https://github.com/Retropaint/asciiPainter" target="_blank">
				<ion-img class="crisp" src="assets/asciiPainterThumbnail.png"></ion-img>
				<h3>asciiPainter</h3>
				<p>A TTY program for ASCII art, made with ncurses/PDCurses. This came out of my growing obsession with terminals and CLIs.</p>
			</a>
		</div>
		<div class="project middle">
			<a class="project-container" href="https://github.com/Retropaint/3D_renderer" target="_blank">
				<ion-img src="assets/3dThumbnail.png"></ion-img>
				<h3>3D Renderer</h3>
				<p>To solve the philosophical question of 'how do 3D graphics work,' I made a basic software renderer (with wonky texture support).</p>
			</a>
		</div>
		<div class="project">
			<a class="project-container" href="https://retropaint.github.io/azur-lane-fleet-tech-tracker" target="_blank">
				<ion-img src="assets/trackerThumbnail.png"></ion-img>
				<h3>Azur Lane Fleet Tech Tracker</h3>
				<p>A tracker website for a specific feature in a weird game. Designed to be self-maintaining!</p>
			</a>
		</div>
	</div>

	<div class="header">
		<div class="first"></div>
		<h2>Other Expertise</h2>
		<div class="last"></div>
	</div>
	<div class="center expertise">
		<div class="expertise-icon">
			<ion-img id="laravel-tooltip" src="assets/laravel.png" title="Laravel"></ion-img>
		</div>
		<div class="expertise-icon">
			<ion-img id="docker-tooltip" src="assets/docker.png" title="Docker"></ion-img>
		</div>
		<div class="expertise-icon">
			<ion-img id="python-tooltip" src="assets/python.png" title="Python"></ion-img>
		</div>
	</div>

	<div class="header">
		<div class="first"></div>
		<h2>Contacts</h2>
		<div class="last"></div>
	</div>
	<div class="center contacts">
		<p class="subtitle">Get in touch!</p>
		<a target="_blank" href="https://github.com/Retropaint">
			<div class="expertise-icon">
				<ion-img  src="assets/github.png"></ion-img>
			</div>
		</a>
	</div>

	<app-expertise-popover 
		trigger="laravel-tooltip" 
		content="I learnt Laravel (and other relevant tech like PHP and MySQL) as the backend framework at Stampede, and can comfortably use it for small-scale projects, or prototypes."
	></app-expertise-popover>

	<app-expertise-popover 
		trigger="docker-tooltip" 
		content="Thanks to a PHP version conflict, I was introduced to Docker. In particular, I learnt to use Docker Compose for multi-container setups, and always prefer to use it for production."
	></app-expertise-popover>

	<app-expertise-popover 
		trigger="python-tooltip" 
		content="I like using Python for quick scripts and high-level nature (not worrying about segfaults and all that low-level crap)."
	></app-expertise-popover>
</ion-content>
