<ion-content [fullscreen]="true" class="main">
	<div class="header top">
		<div class="first"></div>
		<h1>RetroFolio</h1>
		<div class="last"></div>
	</div>
	<div class="center intro" style="text-align: left">
		<p>Welcome!</p>
		<p>I'm Osman, but I usually go by Retropaint online. Say hi if you meet me!</p>
		<br>
		<p>I like to write random words and symbols that do stuff. I think it's called programming.<br> My fields of interest are primarily in building native apps, both low-level (C, C++, etc) to high-level (web tech).</p>
	</div>
	
	<div class="header no-bottom-margin">
		<div class="first"></div>
		<h2>Work Experience</h2>
		<div class="last"></div>
	</div>
	<div class="center work-experience">
		<div class="stampede">
			<div class="stampede-header">
				<h3><a href="https://stampede-design.com" target="_blank">Stampede Design</a></h3>
				<a href="https://stampede-design.com" target="_blank"><ion-img class="icon" src="assets/stampede.png"></ion-img></a>
			</div>
			<div class="body">
				<p>
					Over at my first job, I worked as a Frontend Developer. In particular, <a href="https://ionicframework.com">Ionic</a>&nbsp;<a class="angular" href="https://angular.dev">Angular</a> (two separate things!) was the main framework, though I've also maintained a <a href="https://www.bigcommerce.com">BigCommerce</a> site with <a href="https://developer.bigcommerce.com/docs/storefront/stencil">Stencil</a> (one thing!). 
					<br><br>
					On the side I was learning backend development, starting with <a href="https://strapi.io">Strapi</a> (since I was familiar with <a href="https://nodejs.org/en">NodeJS</a>), then moving onto <a href="https://laravel.com">Laravel</a>. Once I was comfortable with the basics, I got to work with one last project which pretty much encompassed full-stack(ish) development. 
					<br><br>
					That project was for a chatbot that we wanted to be powered by AI, which I initially chose <a href="https://cloud.google.com/dialogflow">Dialogflow</a> for. It showed its limitations rather quickly, so we planned to move onto an LLM. That was around the time I resigned to pursue a bachelor's (which is ongoing).
				</p>
			</div>
		</div>
	</div>

	<div class="header">
		<div class="first"></div>
		<h2>Projects of Interest</h2>
		<div class="last"></div>
	</div>
	<div class="center projects">
		@for(project of projects; track $index) {
			<div class="project">
				<a class="project-container" [href]="project.link" target="_blank">
					<ion-img class="{{project.name}}" src="assets/project-thumbnails/{{project.name}}.png"></ion-img>
					<h3>{{project.name}}</h3>
					<p>{{project.body}}</p>
				</a>
			</div>
		}
	</div>

	<div class="header">
		<div class="first"></div>
		<h2>Expertise & Experience</h2>
		<div class="last"></div>
	</div>
	<div class="center icons">
		@for(exp of expertise; track $index) {
			<div class="icon {{exp.name}}">
				<ion-img id="{{exp.name}}-tooltip" src="assets/expertise-icons/{{exp.name}}.png" title="{{exp.name}}"></ion-img>
			</div>
		}
	</div>

	<div class="header">
		<div class="first"></div>
		<h2>Contacts</h2>
		<div class="last"></div>
	</div>
	<div class="center contacts">
		<p class="subtitle">Get in touch!</p>
		
		<div class="expertise">
			@for(contact of contacts; track $index) {
				@if(contact.link) {
					<a target="_blank" [href]="contact.link">
						<div class="icon {{contact.name}}">
							<ion-img id="{{contact.name}}-tooltip" src="assets/contacts-icons/{{contact.name}}.png"></ion-img>
						</div>
					</a>
				} @else {
					<div class="icon {{contact.name}}">
						<ion-img id="{{contact.name}}-tooltip" src="assets/contacts-icons/{{contact.name}}.png"></ion-img>
					</div>
				}
			}
		</div>
	</div>
	
	<div class="header">
		<div class="first"></div>
		<h2>Miscellaneous</h2>
		<div class="last"></div>
	</div>
	<div class="center last-section">
		<p>View/Download my <a href="assets/resume.pdf">Resume</a> (PDF)</p>
	</div>

	@for(exp of expertise; track exp.name) {
		<ion-popover trigger="{{exp.name}}-tooltip" side="top" alignment="center">
			<ng-template>
				<ion-content>
					<ion-card>
						<p [innerHTML]="exp.content"></p>
					</ion-card>
				</ion-content>
			</ng-template>
		</ion-popover>
	} 

 	@for(contact of contacts; track contact.name) {
		@if(contact.content) {
			<ion-popover trigger="{{contact.name}}-tooltip" side="top" alignment="center">
				<ng-template>
					<ion-content>
						<ion-card>
							<p [innerHTML]="contact.content"></p>
						</ion-card>
					</ion-content>
				</ng-template>
			</ion-popover>
		}
	}
</ion-content>
