.main {
	--background: linear-gradient(140deg, rgb(36, 36, 98), rgb(5, 0, 24));
	//--background: white;
}

.center {
	width: 50%;
	margin: auto;
}

.intro {
	text-align: center;

	.welcome {
		font-size: 20px;
	}
}

p {
	margin: 0;
}

ul {
	padding: 0;
	
	li {
		text-align: left;
		list-style-type: none;
	}
}

h1, h2 {
	text-align: center;
}

.work-experience-header {
	text-align: center;
}
.work-experience {
	text-align: center;
}

.project-container {
	position: relative;
	margin: auto;
}

.contacts {
	text-align: center;
}

ion-popover { 
	--offset-y: -10px;
	--background: transparent;

	ion-card {
		margin: 0;
		--background: #12123cf2;
	 	border: 2px solid rgb(149, 149, 148);
	 	padding: 10px;
	}	

	ion-content {
		--background: transparent;
	}
}
